.ethics-page {
    background-image: url('../assets/howtousebackground.png'); /* Update with the correct path */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh; /* Ensures it covers the full viewport height */
}

.input-box {
    text-align: center;
}

.input-container {
    text-align: center;
}

.button-container {
    text-align: center;
}

.button-container button {
    text-align: center;
}

.input-container textarea  {
    width: 50%;
    padding: 10px;
    margin-top: 10px;
    padding-bottom: 20%;
}

button {
    background-color: #000000; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 5%;
    margin-left: 20px;
  }


